# BEGIN .htaccess
# Prevent directory browsing
Options -Indexes

# Follow symbolic links
Options +FollowSymLinks

# Default file to serve, if a directory is requested
DirectoryIndex index.html index.php

# Enable URL rewriting
RewriteEngine On

# If an existing asset or directory is requested go to it as it is
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -f [OR]
RewriteCond %{DOCUMENT_ROOT}%{REQUEST_URI} -d
RewriteRule ^ - [L]

# If the requested resource doesn't exist, use index.html
RewriteRule ^ /index.html

# END .htaccess