*{
  margin: 0;
  padding: 0;
}
/* .flip{
:hover{
  -webkit-transform:rotate(180deg);
  transform: rotate(180deg);
  background-color: red;
} 
}*/
.blur{
  -webkit-filter: blur(5px);
  filter: blur(5px);

}
.unblur{
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.image-gallery-content{
  width: 325px;
}
.image-gallery-thumbnails-container{
  text-align: left!important; ;
}
.image-gallery-thumbnail:focus {
  outline: none;
  border: 2px solid black !important;
}
.image-gallery-thumbnail.active{
  outline: none;
  border: 2px solid black !important;
}