*{
  margin: 0;
  padding: 0;
  font-size: 15px;
  font-weight: 400;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
/* .flip{
:hover{
  -webkit-transform:rotate(180deg);
  transform: rotate(180deg);
  background-color: red;
} 
}*/
.blur{
  -webkit-filter: blur(5px);
  filter: blur(5px);

}
.unblur{
  -webkit-filter: blur(0px);
  filter: blur(0px);
}
.image-gallery-content{
  width: 325px;
  @media (max-width:767px){
    width: 100%;
  }
}
.image-gallery-thumbnails-container{
  text-align: left!important;
  @media(maax-width:767px){
    text-align: center;
  }
}
.image-gallery-thumbnail:focus {
  outline: none;
  border: 2px solid black !important;
}
.image-gallery-thumbnail.active{
  outline: none;
  border: 2px solid black !important;
}
.sb-avatar__text{
  width: 65px !important;
  height: 65px !important;
  font-size: 25px !important;
}
.example::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.example {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.answer {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
}

.answer.open {
  max-height: 100px; /* Adjust this value to fit your content */
}